<div class="form-group">
    <%= f.label :title, "TITLE" %>
  <%= f.text_field :title, :class => "form-control" %>


</div>



<% if @post_category.errors.any? %>
    <ul>
      <% @post_category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>
