<div class="form-group">
  <div class="cco">
    <%= f.label :title, "title" %>
  </div>
  <div class="cco">
    <%= f.text_field :title %>
  </div>
  <div class="cco center log ma">
    <%= f.file_field :logo %>
  </div>
</div>



<% if @work_category.errors.any? %>
    <ul>
      <% @work_category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>