<div class="form-group">
  <div class="cco">
    <%= f.label :title, "TITLE" %>
  </div>
  <div class="cco">
    <%= f.text_field :title , :class => "form-control" %>
  </div>
  <P>
    <%= f.file_field :logo %>
  </P>
</div>



<% if @work_category.errors.any? %>
    <ul>
      <% @work_category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
      <% end %>
    </ul>
<% end %>