<div class="ti2 titl clearfix">
  <div class="sp col-md-1"></div>
  <div class="col-md-10 row ">
    <h1>ABOUTS</h1>
  </div>
</div>

<div class="row center cco">
  <div class="about test row center">
    <div class="pp">
      圖片
    </div>
    <div class="bb">
      <h3>基本資料</h3>
      <div class="center">
        <h3>first_name : <%= @user.first_name %></h3>
        <h3>last_name : <%= @user.last_name %></h3>
      </div>
    </div>
    <div class="cc">
      <h3>description</h3>
      <div class="center">
        <%= @user.description %>
      </div>
    </div>




  </div>
</div>