<div class="bg80 center">

  <h2>ABOUT ME</h2>





  <% if @user != nil %>
      <div class="center big_to">
        <%= image_tag(@user.img.url, size: "200x200") %>
      </div>
  <% end %>


  <h2>基本資料</h2>


  <% if @user != nil %>
      <h3>name : <%= @user.first_name+""+@user.last_name %></h3>
  <% end %>


  <h2>description</h2>
  <% if @user != nil %>
      <%= simple_format(@user.description) %>
  <% end %>


</div>