<head>
  <script src="/ckeditor/ckeditor.js"></script>
</head>

<div class="abc">
  <div class="center  cco">
    <h1>NEW_POST</h1>
  </div>
</div>
<div class="center ">
  <body>
  <%= form_for @post, :url => posts_path do |f| %>

      <%= render :partial => 'form', :locals => {:f => f} %>
      <%= f.submit "Create", :class => "btn btn-primary" %>
      <%= link_to "bK TO INDEX", posts_url, :class => "btn btn-default" %>

  <% end %>
  </body>
</div>
