<div class="bg80 center">
  <head>
    <script src="/ckeditor/ckeditor.js"></script>
  </head>


  <h1>NEW_POST</h1>



  <%= form_for @post, :url => posts_path do |f| %>

      <%= render :partial => 'form', :locals => {:f => f} %>
      <%= f.submit "Create", :class => "btn btn-primary" %>
      <%= link_to "bK TO INDEX", posts_url, :class => "btn btn-default" %>

  <% end %>


</div>