.about{
    height: 880px;
    width: 80%;

    position: relative;
}
.pp{
    position: absolute;

    height: 500px;
    width: 450px;
    margin: 3% 3% 3% 3%;
}
.bb{
    position: absolute;

    height: 200px;
    width: 600px;
    margin: 3% 45% 3% 45%;
}
.cc{
    position: absolute;

    height: 280px;
    width: 1083px;
    margin: 48% 3% 3% 3% ;
}
.bbc{
    text-align: right;
}
.ddw{
    width: 350px;
    height: 200px;

}
.dds{
    width: 350px;
    height: 300px;

}
.pa{
    margin: 3% 3% 3% 3%;
}
.ttq{
    width: 200px;
    height: 300px;

}
.ffff{
    font-size: 110%;
}
.big_to{
    height: 300px;
    width: 300px;
    overflow: hidden;
}