.ti2 h1{
    color: #EFEFEF;
    text-align: center;
    font-size: 150%;
}
a{
    color: #EFEFEF;
    text-decoration:none;

}
.tit2 h2{
    padding: 5% 0 0% 0;
    font-size: 120%;
}
.lia{
    align-content: flex-start;
}

.dropdown-menu>li>a:hover{
    background-color: transparent;
}
.dropdown-menu>li>a:focus{
    background-color: transparent;
}
.bgsen{

    height: 2000px;
}
.bgblock1{
    margin: 0 0 70px 0;
    background: rgba(100,188,80,0.8);
    height: 400px;
}
.bgblock2{
    margin: 0 0 70px 0;

    height: 400px;
}
.mini-title{
    padding: 10px 0;
}