.ti2 h1{
    color: #EFEFEF;
    text-align: center;
    font-size: 150%;
}
a{
    color: #EFEFEF;
    text-decoration:none;

}
.tit2 h2{
    padding: 5% 0 0% 0;
    font-size: 120%;
}
.lia{
    align-content: flex-start;
}

.dropdown-menu>li>a:hover{
    background-color: inherit;
}
.dropdown-menu>li>a:focus{
    background-color: inherit;
}