body {
    margin: 0;
    padding: 0;
    background: image-url("bg.jpg")  center center fixed no-repeat;
    font-size: 150%;
    -moz-background-size: cover;
    background-size: cover;
    scroll:no;



}
a {
    text-decoration:none;
}
A:link{text-decoration:none;}
A:visited{text-decoration:none;}
A:active{text-decoration:none;}
A:hover{text-decoration:none;
color: #5dc2f1;}


#main-ul {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    max-width: 1600px;
    color: #FFFFFF;

    background: #97ef62;

}
::-webkit-scrollbar {
    display: none;
}

#main-ul li {
    padding: 20px;
}

#main-ul a {
    text-decoration: none;
    color: inherit;
}

#main-ul li:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
}
.ti{
    margin: 100px 0 60px 0;
}




















/*media queries*/
@media screen and (min-width: 0px) {
    .toggle-nav {
        display: block;
    }

    #main-ul {
        display: none;
    }
}

@media screen and (min-width: 700px) {
    .toggle-nav {
        display: none;
    }

    #main-ul {
        display: flex;
    }
}

.logo {
    text-align: left;
    margin: 0.5% 3%;
    z-index: 2;
    float: left;
}
.dropdown-menu{
    background: #97ef62;
}

























.vedio{
    height: 400px;

    overflow: hidden;
}
.u{
    margin: 1% 1%;
}
.ti {
    text-align: center;
}

.bookmark {
    text-align: center;
}

.ti h1 {

    text-align: center;
    font-size: 600%;
    color: #EFEFEF;
}
h2{
    color: #EFEFEF;
}
label{
    color: #EFEFEF;
}
.rig{
    text-align: right;
}

.li-con li {
    width: 200px;
}



.BT {
    width: 90%;
    text-align: right;
}

.center {
    margin: 0px auto;
    text-align: center;
}

.cco {
    border-radius: 5%;
    margin: 100px auto;
    background:rgba(255,255,255,0.3);
    color: #EFEFEF;
}
.cco1 {
    border-radius: 5%;
    margin: 100px auto;
    color: #EFEFEF;
}

.hi {
    padding: 3% 0 1% 0;
}

.tt {
    padding: 5% 0 0 0;
}

.bar {
    padding: 1% 0 1% 0;
}

.titl {
    padding: 1% 0 1% 0;
}

.line {
    padding: 1% 0 0% 0;
}

.text {
    word-wrap: break-word;
}

.comment {
    padding: 1% 0 0% 0;
}

.con1 {

    height: 650px;
}

.con2 {

    height: 650px;
}

.con3 {

    height: 400px;
}

.con4 {
    height: 250px;
}

.z {
    padding: 1% 0 1% 0;
    font-size: 150%;
}

.bar {
    padding: 2% 0 3% 0;
}

.bar1 {
    padding: 2% 0 1% 0;
    height: 300px;
    overflow: scroll;

}

.bar2 {
    padding: 3% 0 1% 0;
    height: 200px;
    overflow: scroll;

}

::-webkit-scrollbar {
    display: none;
}

.dd {
    height: 300px;
}

.bar3 {
    padding: 3% 0 0 0;

    height: 500px;
    overflow: scroll;

}

.bar4 {
    padding: 3% 0 0 0;

    height: 500px;
    overflow: scroll;

}

.bar5 {
    padding: 3% 0 0 0;

    height: 500px;
    overflow: scroll;

}

.workcate {

    background-color: #999999;
    height: 300px;

}

.workcate1 {

    background-color: #666666;
    height: 200px;

}

.spp {
    height: 10px;
}

.workar {
    padding: 1% 0 1% 0;
    height: 700px;
    overflow: scroll;
}

.cate {
    font-size: 150%;
}

.port {

    background: rgba(0%,10%,20%,0.3);
    height: 400px;
    width: 300px;
    margin: 2% 1% 2% 1%;
}

.pic {

    height: 280px;
    width: 260px;

    margin: 3% 2% 3% auto;
    overflow: hidden;

}

.pw {

    height: 1500px;
    padding: 1% 1% 1% 5%;
    margin: 0 3%;
    overflow: scroll;
}

.workpice {
    height: 300px;
    overflow: hidden;
}

.word {
    float: inherit;
    padding: 10% 0 10% 0;
}

.ma {
    margin: 2% 44%;
}

.imatitle {
    width: 100%;
    font-size: 150%;
    margin: 4% 0;

}

.imatime {
    margin: 4% 0;
    width: 100%;
}
.hidd{
    overflow: hidden;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.imagewlcome{
    width: 100%;
    height: 600px;

    overflow: scroll;
}
.xx{
    margin: 2% 2% 2% 2%;
    width: 165px;
    height: 200px;

}
.smailpic{
    width: 100%;
    height: 180px;
    overflow: hidden;
}
