.center{
    margin: 0 auto;
}
.textcenter{
    text-align: center;
}
.color_b{
    color: cornflowerblue;
}
.bg100{
    width: 100%;
}
.bg80{
    width: 80%;
}

a{
    text-decoration:none
}
a:hover {
    color: #5dc2f1;
    text-decoration: none;
}
.texts60{
    font-size: 60px;
}
.indexdiv{
    margin: 30px auto;
    height: 500px;
}
.index_post{
    margin: 40px auto;
    height: 250px;
    overflow: hidden;
}
.img{
    height: 200px;
    margin: 20px 20px;
    overflow: hidden;
}
.title{

}

.fixfather{
    position: relative;
}


.fixed{
    position: absolute;
    top: 180px;
    right: 0;
    width: 200px;

}
