.fixedwork{
    position: absolute;
    top: 150px;
    right: 0;
    width: 250px;

}
.workpost{
    height: 220px;
}
.postimg{
    overflow: hidden;
    height: 200px;
}
.over{
    overflow: hidden;
}
.Article{
    width: 100%;
    height: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.postwork{
    height: 100px;
    overflow: hidden;
}