.fixedwork{
    position: absolute;
    top: 150px;
    right: 0;
    width: 250px;

}
.workpost{
    height: 220px;
}
.postimg{
    overflow: hidden;
    height: 200px;
    text-align: center;
}
.over{
    overflow: hidden;
}
.Article{
    width: 100%;
    height: 130px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
}
.postwork{
    height: 100px;
    overflow: hidden;
}
.postshow{
    margin: 20px 30px;
    height: 220px;
}
.postshowimg{
    overflow: hidden;
    height: 150px;
    text-align: center;
}
.article{


}
@media only screen and (max-width: 990px) {

    .push{
        display:none
    }
}