<div class="abc">
  <div class="center  cco1">
    <h1>NEW_WORK_POST</h1>
  </div>
</div>
<div class="center ">
  <%= form_for @work_post, :url => work_posts_path(:work_category_id => @work_category.id), :method => :post do |f| %>

      <%= render :partial => 'form', :locals => { :f => f } %>
      <%= f.submit "Create" ,:class => "btn btn-primary"%>
      <%= link_to "bK TO INDEX",work_posts_path(:work_category_id => @work_category.id) ,:class => "btn btn-default"%>

  <% end %>
</div>