<div class="ti">
  <h1><%= link_to "NAGI-CHIANG", root_path %></h1>
  <h2>Welcome to my world.</h2>
</div>

<div class="bgsen">
  <div class="bgblock1">
    <h2 class="center mini-title">New work of web</h2>

  </div>
  <div class="bgblock2">
    <h2 class="center mini-title">New-Info</h2>


  </div>
  <div class="bgblock1">
    <h2 class="center mini-title">New-Port</h2>
  </div>




</div>
