<div class="bg80 center">

    <h2>EDIT</h2>

  <div>
    <%= form_for @info, :url => info_path(@info), :method => :patch do |f| %>
        <%= render :partial => 'form', :locals => {:f => f} %>
        <%= f.submit "Update", :class => "btn btn-default" %>
        <%= link_to "back to show", info_path, :class => "btn btn-default" %>
    <% end %>
  </div>
</div>