
<% if current_user != nil && current_user.admin == true %>
    <div class="BT cco1">
      <ul class="list-inline list-unstyled">
        <li>
          <%= link_to 'New post', new_info_path, :class => "btn btn-default" %>
        </li>
      </ul>
    </div>
<% end %>
<div class="center container cco">
  <div class="center ">
    <div class="row hi center">
      <div class="col-md-2 center">
        CATEGORY
      </div>
      <div class="col-md-2 center">
        TITLE
      </div>
      <div class="col-md-6 center">
        Introduction
      </div>
      <div class="col-md-2 center">
        RELEASE TIME
      </div>


    </div>
    <div class="bar5">
      <% @infos.each do |info| %>
          <div class="center row hi">
            <div class="col-md-2 center">
              類別
            </div>
            <div class="col-md-2 center">
              <%= link_to info.title, info_path(info, :page => params[:page]) %>
            </div>
            <div class="col-md-6 text">
              <%= info.description %>
            </div>
            <div class="col-md-2 center">
              <%= info.display_hour %>
            </div>

          </div>
      <% end %>
    </div>
  </div>
</div>