<div class="bg80 center">

  <h2>NEW_INFO</h2>

  <div>
    <%= form_for @info, :url => infos_path do |f| %>

        <%= render :partial => 'form', :locals => {:f => f} %>
        <%= f.submit "Create", :class => "btn btn-primary" %>
        <%= link_to "bK TO INDEX", infos_url, :class => "btn btn-default" %>

    <% end %>
  </div>
</div>