<div class="bg80 center">

  <h2>
    <%= @info.title %>
  </h2>

  <HR size="30">
  <% if current_user != nil && current_user.admin == true %>

        <%= link_to 'edit', edit_info_path(@info), :class => "btn btn-default" %>
        <%= link_to 'Delete', info_path(@info, :page => params[:page]), :method => :delete, :class => "btn btn-danger" %>

  <% end %>




  <div class="description">
    <%= simple_format(@info.description) %>
  </div>


</div>