<div class="bg80 center">
  <div class="center cco">
    <div class="titl center">
      <h2>
        <%= @info.title %>
      </h2>
    </div>
    <div class="row bar">
      <div class="center col-md-4">
        類別,狀態
      </div>
      <div class="center col-md-4">

      </div>
      <% if current_user != nil && current_user.admin == true %>
          <div class="col-md-4">
            <%= link_to 'edit', edit_info_path(@info), :class => "btn btn-default" %>
            <%= link_to 'Delete', info_path(@info, :page => params[:page]), :method => :delete, :class => "btn btn-danger" %>
          </div>
      <% end %>
    </div>
    <div class="row">
      <div class="center col-md-2">

      </div>

      <div class="center col-md-8 text dd">
        <div class="as">
          <%= @info.description %>
        </div>

      </div>
      <div class="col-md-2">

      </div>
    </div>
  </div>
</div>